<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration"/>
    </configSections>
    <FacebookGraphToolkitConfiguration FacebookAppID="170936369682906" FacebookAppSecret="d0f624ded5a30551cd62d480a9c9e9e2" FacebookAppAddress="http://apps.facebook.com/israelijokes/" PostAuthorizeRedirectURL="index.aspx">
    </FacebookGraphToolkitConfiguration>
    
	 <appSettings>
     <add key="connectionstring" value="server=fb6a5a0b-b681-4e41-8f5e-a07501561d4d.mysql.sequelizer.com;database=dbfb6a5a0bb6814e418f5ea07501561d4d;uid=qynlpebmiicoqgjk;pwd=LB3SWR5n5DfBJN7i6fb6e2XbL5BodrVzm4XhCwK38uDSMM57v3YL8MZSM2g2oQiM" />
	</appSettings>
  
  
  <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <!--<globalization requestEncoding="windows-1255" responseEncoding="utf-8" />-->
      <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
       
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>


    
</configuration>

